<%- include('partials/header'); -%>
  <div style="background-color: rgb(31, 31, 31); padding: 3.12em 0; color: white; text-align: center;">
    <h2>Crear</h2>
    <p>Hemos recibido tus datos</p>
  </div>

  <div class="container py-5">
    <p>Ingresa aquí tu siguiente entrada</p>

    <p class="mb-5"><%=fecha%>.</p>

    <form action="/crear" method="post">
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Título" id="floatingTextarea" name="titulo"></textarea>
        <label for="floatingTextarea">Título</label>
      </div>

      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Contenido" id="floatingTextarea" name="contenido" style="height: 100px;"></textarea>
        <label for="floatingTextarea">Contenido</label>
      </div>
      <input type="text" value="<%=fecha%>" name="fechaEntrada" readonly style="display: none;">

      <button type="submit" class="btn btn-primary" stlye="width: 100% !important">Subir entrada</button>
    </form>
  </div>
<%- include('partials/footer'); -%>
