<%- include('partials/header'); -%>
  <div style="background-color: rgb(31, 31, 31); padding: 3.12em 0; color: white; text-align: center;">
    <h2>Sobre nosotros</h2>
    <p>Hemos recibido tus datos</p>
  </div>
<%- include('partials/footer'); -%>
